@using (Html.BeginForm("ClearFilter", "Characteristics"))
{   <input type="submit" value="Очистить поиск" class="btn btn-default" />
    <label style=""> @Ajax.ActionLink("Сохранить файл", "SaveToFile", new { }, new AjaxOptions { UpdateTargetId = "req" }, new { })</label>
}
